:root {
  --primary-brand-color: #4d5ae5;
  --presed-state-color: #404bbf;
  --succes-color: #31d0aa;
  --dark-text-color: #2e2f42;
  --primary-text-color: #434455;
  --accent-color: #e7e9fc;
  --primary-white-color: #fff;
  --light-mode-color: #f4f4fd;
  --helper-text-color: #8e8f99;
  --modal-background-color: #fcfcfc;
  --overlay-color: #2e2f42;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

button {
  margin-bottom: 0;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/*----- HEADER -----*/

.header {
  border-bottom: 1px solid var(--accent-color);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-navigation {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 16px;
  padding-left: 16px;
}

.header-logo {
  color: var(--primary-brand-color);
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 26px;
  padding-bottom: 24px;
}

.header-logo-accent {
  color: var(--dark-text-color);
}

.header-list,
.header-contacts-list {
  display: none;
}

.header-mobile-menu-button {
  background-color: transparent;
  border-color: transparent;
  margin: 0;
  padding: 0;
  border: 0;
}

.header-mobile-menu-icon {
  fill: var(--dark-text-color);
}

.mobile-menu {
  background-color: var(--primary-white-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  padding: 24px 24px 40px 40px;
  max-width: 767px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  overflow-y: auto;
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu .link {
  text-decoration: none;
}

.menu-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: #fdfdff;
  border: 1px solid #ebebec;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  margin-left: auto;
  margin-bottom: 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-close-icon {
  fill: var(--dark-text-color);
}

.mobile-menu-link {
  color: var(--dark-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.current {
  color: var(--presed-state-color);
}

.mobile-menu-navigation {
  margin-bottom: 40px;
}

.mobile-contacts-phone {
  margin-bottom: 40px;
}

.mobile-menu-contacts {
  margin-bottom: 48px;
}

.mobile-phone-link {
  color: var(--iris, #4d5ae5);
  font-size: 26px;
  max-width: 420px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.mobile-address-link {
  color: var(--primary-text-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.menu-socials-list {
  display: flex;
  justify-content: space-between;
  max-width: 328px;
}

.menu-socials-item {
  width: 40px;
  height: 40px;
}

.menu-socials-link:hover,
.menu-socials-link:focus {
  background-color: var(--succes-color);
}

.menu-socials-link {
  background-color: var(--primary-brand-color);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-socials-icon {
  fill: var(--light-mode-color);
}

/*----- MAIN SECTION -----*/

.main-section {
  background-color: var(--dark-text-color);
  padding: 112px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/main-section-mobile-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .main-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/main-section-mobile-background-2x.jpg");
  }
}

.main-section-title {
  color: var(--primary-white-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  flex-shrink: 0;
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.main-section-button {
  color: var(--primary-white-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--primary-brand-color);
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-section-button:hover,
.main-section-button:focus {
  background: var(--presed-state-color);
}

/*----- ADVANTAGES -----*/

.advantages {
  padding: 96px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 24px; */
  gap: 72px;
}

.advantages-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* width: calc((100% - 24px * 3) / 4); */
}

.advantages-icon-section {
  display: none;
}

.advantages-subtitle {
  color: var(--dark-text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.advantages-item-text {
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*----- PRODUCTS -----*/

.products {
  display: none;
}

/*----- TEAM -----*/

.team {
  background: var(--light-mode-color);
  padding: 96px 0;
}

.team-title {
  color: var(--dark-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.team-list-item {
  background-color: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-member-container {
  padding: 32px 0;
}

.team-list-name {
  color: var(--dark-text-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.team-list-position {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-socials-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-socials-item {
  width: 40px;
  height: 40px;
}

.team-socials-link:hover,
.team-socials-link:focus {
  background-color: var(--presed-state-color);
}

.team-socials-link {
  background-color: var(--primary-brand-color);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials-icon {
  fill: var(--light-mode-color);
}

/*----- CUSTOMERS -----*/

.customers {
  background: var(--primary-white-color);
  padding: 96px 0;
}

.customers-title {
  color: var(--dark-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 16px;
}

.customers-list-item {
  width: 190px;
  height: 88px;
}

.customers-list-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: var(--helper-text-color);
  border: 1px solid var(--helper-text-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-icon {
  fill: currentColor;
}

/*----- FOOTER -----*/

.footer {
  background-color: var(--dark-text-color);
  padding: 98px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.footer-main-info {
}

.footer-logo {
  color: var(--primary-brand-color);
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 18px;
  display: block;
  text-align: center;
}

.footer-logo-accent {
  color: var(--light-mode-color);
}

.footer-text {
  color: var(--light-mode-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 268px;
}

.footer-socials-title {
  color: var(--primary-white-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}

.footer-socials-list {
  display: flex;
  gap: 16px;
}

.footer-socials-item {
  width: 40px;
  height: 40px;
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--succes-color);
}

.footer-socials-link {
  background-color: var(--primary-brand-color);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-icon {
  fill: var(--light-mode-color);
}

.footer-form {
  width: 100%;
}

.footer-email-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer-form-title {
  color: var(--primary-white-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}

.email-form-label {
  width: 100%;
}

.footer-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  outline: transparent;
  background-color: transparent;
  padding-left: 16px;
  color: var(--primary-white-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 1.5;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-button {
  width: 165px;
  height: 40px;
  border-radius: 4px;
  background-color: var(--primary-brand-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--primary-white-color);
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  padding: 8px 64px 8px 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.footer-button-icon {
  position: absolute;
  fill: var(--primary-white-color);
  margin-left: 16px;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
}

.footer-button:hover,
.footer-button:focus {
  background: var(--presed-state-color);
}

.footer-email-form input:focus {
  border-color: var(--primary-brand-color);
}

.footer-email-form input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-top: 8px;
}

.footer-email-form input:focus::placeholder {
  opacity: 0;
}

/*----- PORTFOLIO FILTERS -----*/

.portfolio-projects-filters {
  padding: 48px 0 48px;
}

.portfolio-filters-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 16px 24px;
  margin-bottom: 48px;
  max-width: 270px;
}

.portfolio-filter-btn {
  border: 1px solid var(--accent-color);
  background: var(--light-mode-color);
  color: var(--primary-brand-color);
  text-align: center;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-filter-btn:hover,
.portfolio-filter-btn:focus {
  background-color: var(--presed-state-color);
  color: var(--primary-white-color);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

/*----- PORTFOLIO PROJECTS -----*/

.portfolio-projects-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.portfolio-project-item {
  background: var(--primary-white-color);
  width: 100%;
}

.portfolio-project-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-image-container {
  position: relative;
  overflow: hidden;
}

.project-name-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-project-subtitle {
  color: var(--dark-text-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-project-type {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-cover-text {
  color: var(--light-mode-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--primary-brand-color);
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*----- MODAL -----*/

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 95%;
  max-width: 392px;
  min-height: 584px;
  background-color: var(--modal-background-color);
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 24px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close-btn {
  padding: 0;
  border: none;
  background-color: rgba(231, 233, 252, 1);
  border: 1px solid rgba(0, 0, 0, 0.103);
  border-radius: 50%;
  height: 24px;
  width: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  fill: var(--dark-text-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  color: var(--dark-text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-field-textarea {
  margin-bottom: 16px;
}

.input-label {
  display: block;
  color: var(--helper-text-color);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  line-height: 1.17;
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 0px 10px 0px 38px;
  background-color: transparent;
  color: var(--dark-text-color);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.04em;
}

.modal-input:focus {
  border-color: var(--primary-brand-color);
}

.modal-input:focus + .modal-input-icon {
  fill: var(--primary-brand-color);
}

.modal-input-icon {
  position: absolute;
  color: var(--overlay-color);
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  background-color: transparent;
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 1.17;
}

.modal-textarea::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-field textarea:focus::placeholder {
  opacity: 0;
}

.modal-textarea:focus {
  border-color: var(--primary-brand-color);
}

.modal-field-checkbox {
  margin-bottom: 24px;
}

.modal-check:checked + .check-label span {
  background-color: var(--presed-state-color);
  border: none;
  fill: var(--light-mode-color);
}

.modal-check:focus + .check-label span {
  border-color: var(--presed-state-color);
}

.check-label {
  color: var(--helper-text-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.check-label span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-link {
  color: var(--primary-brand-color);
  margin-left: 4px;
}

.modal-send-button {
  min-width: 169px;
  border-radius: 4px;
  background-color: var(--primary-brand-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--primary-white-color);
  font-family: inherit;
  display: block;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  padding: 16px 32px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send-button:hover,
.modal-send-button:focus {
  background: var(--presed-state-color);
}
@media screen and (min-width: 428px) {
  .container {
    max-width: 426px;
  }

  .mobile-phone-link {
    font-size: 36px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }

  /*----- HEADER TABLET -----*/

  .header-container {
    padding: 0 16px;
    min-height: 72px;
  }

  .header-navigation {
    display: flex;
    flex-grow: 0;
    justify-content: start;
    align-items: center;
  }

  .header-list {
    display: flex;
    gap: 40px;
  }

  .header-logo {
    margin-right: 120px;
  }

  .header-menu-item {
    color: var(--dark-text-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
  }

  .header-menu-link {
    color: var(--dark-text-color);
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-menu-link:hover,
  .header-menu-link:focus,
  .header-menu-link:active {
    color: var(--presed-state-color);
  }

  .current {
    position: relative;
    color: var(--presed-state-color);
  }

  .current::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--presed-state-color);
  }

  .header-contacts {
    display: flex;
    font-style: normal;
  }

  .header-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .header-contacts-mail,
  .header-contacts-phone {
    color: var(--primary-text-color);
    font-size: 12px;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: 0.04em;
  }

  .header-address-link {
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-address-link:hover,
  .header-address-link:focus {
    color: var(--presed-state-color);
  }

  .mobile-menu {
    display: none;
  }

  .header-mobile-menu-button {
    display: none;
  }

  /*----- MAIN SECTION TABLET-----*/

  .main-section {
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/main-section-tablet-background.jpg");
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/main-section-tablet-background-2x.jpg");
    }
  }

  .main-section-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-bottom: 36px;
  }

  /*----- ADVANTAGES TABLET-----*/

  .advantages-list {
    gap: 72px 24px;
  }

  .advantages-item {
    width: calc((100% - 24px * 1) / 2);
  }

  .advantages-subtitle {
    text-align: start;
  }

  /*----- TEAM TABLET -----*/

  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
  }

  .team-list-item {
  }

  /*----- CUSTOMERS TABLET-----*/

  .customers-list-item {
    width: 168px;
  }

  .customers-list {
    gap: 72px 24px;
  }

  /*----- FOOTER TABLET-----*/

  .footer {
  }

  .footer-container {
    max-width: 582px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 72px 24px;
    justify-content: start;
  }

  .footer-logo {
    display: inline-block;
    margin-bottom: 16px;
  }

  .footer-text {
    max-width: 264px;
  }

  .footer-socials-title {
    text-align: start;
  }

  .footer-form {
    width: auto;
  }

  .footer-email-form {
    flex-direction: row;
    width: 100%;
    gap: 24px;
  }

  .footer-form-title {
    text-align: start;
  }

  .email-form-label {
    width: 264px;
  }

  .footer-input {
    width: 264px;
  }

  .footer-button {
    cursor: pointer;
  }

  .footer-email-form input::placeholder {
  }

  /*----- MODAL TABLET -----*/

  .modal {
    max-width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
  }

  .modal-close-btn:is(:hover, :focus) .modal-icon {
    fill: var(--primary-white-color);
  }

  .modal-close-btn:is(:hover, :focus) {
    background-color: var(--presed-state-color);
    border: 0px;
  }

  .modal-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  /*----- PORTFOLIO FILTERS TABLET-----*/

  .portfolio-projects-filters {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .portfolio-filters-list {
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
    max-width: none;
  }

  .portfolio-filter-btn {
    padding: 12px 24px;
  }

  /*----- PORTFOLIO PROJECTS TABLET-----*/

  .portfolio-projects-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    justify-content: space-between;
    row-gap: 72px;
  }

  .portfolio-project-item {
    width: calc((100% - 24px * 1) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  /*----- HEADER DESKTOP-----*/

  .header-container {
    padding: 0 15px;
  }

  .header-logo {
    margin-right: 76px;
  }

  .header-list {
    display: flex;
    gap: 40px;
  }

  .header-menu-item {
    color: var(--dark-text-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
  }

  .header-menu-link {
    color: var(--dark-text-color);
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-menu-link:hover,
  .header-menu-link:focus,
  .header-menu-link:active {
    color: var(--presed-state-color);
  }

  .current {
    position: relative;
    color: var(--presed-state-color);
  }

  .current::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--presed-state-color);
  }

  .header-contacts {
    font-style: normal;
  }

  .header-contacts-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .header-contacts-mail,
  .header-contacts-phone {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
  }

  .header-address-link {
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-address-link:hover,
  .header-address-link:focus {
    color: var(--presed-state-color);
  }

  .mobile-menu {
    display: none;
  }

  .header-mobile-menu-button {
    display: none;
  }

  /*----- MAIN SECTION DESKTOP-----*/

  .main-section {
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/main-section-background.jpg");
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/main-section-background-2x.jpg");
    }
  }

  .main-section-title {
    font-size: 56px;
    line-height: 1.1;
    max-width: 496px;
    margin-bottom: 48px;
  }

  .main-section-button {
    cursor: pointer;
  }

  /*----- ADVANTAGES DESKTOP-----*/

  .advantages {
    padding: 120px 0;
  }

  .advantages-list {
    justify-content: center;
    gap: 24px;
  }

  .advantages-item {
    width: calc((100% - 24px * 3) / 4);
  }

  .advantages-icon-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    width: 264px;
    background-color: var(--light-mode-color);
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .advantages-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .advantages-item-text {
    font-weight: 400;
  }

  /*----- PRODUCTS DESKTOP-----*/

  .products {
    padding-bottom: 120px;
    display: flex;
  }

  .products-title {
    color: var(--dark-text-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 72px;
  }

  .products-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .products-list-item {
    width: calc((100% - 24px * 2) / 3);
  }

  /*----- TEAM DESKTOP-----*/

  .team {
    padding: 120px 0;
  }

  .team-list {
    flex-direction: row;
    gap: 24px;
  }

  .team-list-item {
    width: calc((100% - 24px * 3) / 4);
  }

  /*----- CUSTOMERS DESKTOP-----*/

  .customers {
    padding: 120px 0;
  }

  .customers-list {
    gap: 24px;
  }

  .customers-list-item {
    width: 168px;
    cursor: pointer;
  }

  .customers-list-link:hover,
  .customers-list-link:focus {
    border-color: var(--presed-state-color);
    color: var(--presed-state-color);
  }

  /*----- FOOTER DESKTOP-----*/

  .footer {
    padding: 100px 0;
  }

  .footer-main-info {
    margin-right: 120px;
  }

  .footer-container {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    gap: 0;
  }

  .footer-logo {
    display: inline-block;
    margin-bottom: 16px;
  }

  .footer-text {
    max-width: 264px;
  }

  .footer-socials-title {
    text-align: start;
  }

  .footer-socials {
    margin-right: auto;
  }

  .footer-form {
    width: auto;
  }

  .footer-email-form {
    flex-direction: row;
    width: 100%;
    gap: 24px;
  }

  .footer-form-title {
    text-align: start;
  }

  .email-form-label {
    width: 264px;
  }

  .footer-input {
    width: 264px;
    border: 1px solid var(--primary-white-color);
  }

  .footer-button {
    cursor: pointer;
  }

  .footer-email-form input::placeholder {
    color: var(--primary-white-color);
  }

  /*----- MODAL DESKTOP-----*/

  .modal {
    max-width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
  }

  .modal-close-btn:is(:hover, :focus) .modal-icon {
    fill: var(--primary-white-color);
  }

  .modal-close-btn:is(:hover, :focus) {
    background-color: var(--presed-state-color);
    border: 0px;
  }

  .modal-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /*----- PORTFOLIO FILTERS -----*/

  .portfolio-projects-filters {
    padding-top: 96px;
    padding-bottom: 120px;
  }

  .portfolio-filters-list {
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
    max-width: none;
  }

  .portfolio-filter-btn {
    cursor: pointer;
    padding: 12px 24px;
  }

  /*----- PORTFOLIO PROJECTS -----*/

  .portfolio-projects-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    justify-content: space-between;
    row-gap: 48px;
  }

  .portfolio-project-item {
    width: calc((100% - 24px * 2) / 3);
  }

  .portfolio-project-link:hover,
  .portfolio-project-link:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }

  .portfolio-project-link:is(:hover, :focus) .portfolio-cover-text {
    transform: translateY(0);
  }
}
